@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Pick Up", "Create" , "TrashPickUps")
</p>
<p>
    @Html.ActionLink("View Pick Ups", "CustomerPickUps", "TrashPickUps")
</p>




