
@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Customer Menu Items</h2>

<p>
    @Html.ActionLink("Create New Pick Up", "Create", "TrashPickUps")
</p>
<p>
    @Html.ActionLink("View Pick Ups", "CustomerPickUps", "TrashPickUps")
</p>
<p>
    @Html.ActionLink("Edit Profile Info", "Edit", "Customers")
</p>
<p>
    @Html.ActionLink("View Profile Info", "Details", "Customers")
</p>

