@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trash Collector</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Employees</h2>
        <p>
            We come pick up trash.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Customers</h2>
        <p>
            We have trash!
        </p>
    </div>

</div>